In [16]:
import numpy as np 
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
import statsmodels.api as sm
# import matplotlib as mpl
# import matplotlib.pyplot as plt
# import seaborn

In [4]:
df = pd.read_csv('result_after.csv')

### Data Preprocessing

In [5]:
## drop cols
drop_col = ['innings_x', 'innings_y', 'season', 'ground', 'scorecard_no', 'runs', 'overs', 'bat_first_country', 'field_first_country', 'country_won', 'countries']
df_all = df.drop(drop_col, axis=1)
# df_all
## drop country == ICC World XI, there is no this country anymore
# indexAge = df_all[ (df_all['countries'] == 'ICC World XI')].index
# df_all.drop(indexAge , inplace=True)
df_all

,team1_inn1,team2_inn1,first_inn_lead_of_team1,team1_inn2,team2_inn2,team1_inn1_over,team2_inn1_over,total_day,bat_first,field_first,team_no,won
0,245,0,49.0,104,0,169.3,0.0,5,1,0,1,1
1,0,196,-49.0,0,108,0.0,136.1,5,0,0,2,0
2,122,0,-139.0,259,0,112.1,0.0,5,1,0,1,0
3,0,261,139.0,0,122,0.0,130.2,5,0,0,2,1
4,113,0,-143.0,160,0,54.0,0.0,3,1,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5007,0,255,-183.0,0,76,0.0,115.4,5,0,1,1,2
5008,166,0,-410.0,188,0,48.4,0.0,4,1,0,1,0
5009,0,576,410.0,0,0,0.0,134.0,4,0,0,2,1
5010,283,0,-12.0,395,0,54.4,0.0,5,0,0,1,1
5011,0,295,12.0,0,334,0.0,103.1,5,0,1,2,0

## Binomial Logistic regression

In [6]:
# df_one_hot = pd.get_dummies(df_all, columns = ['countries'], dtype=int)
# df_one_hot

In [7]:
df_bi = df_all[df_all['won'] != 2]
df_bi

,team1_inn1,team2_inn1,first_inn_lead_of_team1,team1_inn2,team2_inn2,team1_inn1_over,team2_inn1_over,total_day,bat_first,field_first,team_no,won
0,245,0,49.0,104,0,169.3,0.0,5,1,0,1,1
1,0,196,-49.0,0,108,0.0,136.1,5,0,0,2,0
2,122,0,-139.0,259,0,112.1,0.0,5,1,0,1,0
3,0,261,139.0,0,122,0.0,130.2,5,0,0,2,1
4,113,0,-143.0,160,0,54.0,0.0,3,1,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5003,0,461,149.0,0,133,0.0,121.2,5,0,0,2,1
5008,166,0,-410.0,188,0,48.4,0.0,4,1,0,1,0
5009,0,576,410.0,0,0,0.0,134.0,4,0,0,2,1
5010,283,0,-12.0,395,0,54.4,0.0,5,0,0,1,1
5011,0,295,12.0,0,334,0.0,103.1,5,0,1,2,0

In [8]:
X = df_bi.loc[:, df_bi.columns != 'won']
Y = df_bi['won']
X

,team1_inn1,team2_inn1,first_inn_lead_of_team1,team1_inn2,team2_inn2,team1_inn1_over,team2_inn1_over,total_day,bat_first,field_first,team_no
0,245,0,49.0,104,0,169.3,0.0,5,1,0,1
1,0,196,-49.0,0,108,0.0,136.1,5,0,0,2
2,122,0,-139.0,259,0,112.1,0.0,5,1,0,1
3,0,261,139.0,0,122,0.0,130.2,5,0,0,2
4,113,0,-143.0,160,0,54.0,0.0,3,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...
5003,0,461,149.0,0,133,0.0,121.2,5,0,0,2
5008,166,0,-410.0,188,0,48.4,0.0,4,1,0,1
5009,0,576,410.0,0,0,0.0,134.0,4,0,0,2
5010,283,0,-12.0,395,0,54.4,0.0,5,0,0,1
5011,0,295,12.0,0,334,0.0,103.1,5,0,1,2

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 1)
# X_train["countries"].unique() 
X_test

,team1_inn1,team2_inn1,first_inn_lead_of_team1,team1_inn2,team2_inn2,team1_inn1_over,team2_inn1_over,total_day,bat_first,field_first,team_no
1335,622,0,465.0,336,0,167.5,0.0,5,1,0,1
1508,0,326,-267.0,0,0,0.0,89.0,6,0,0,1
351,397,0,-20.0,351,0,180.5,0.0,8,1,0,1
3367,401,0,-6.0,375,0,115.1,0.0,5,1,0,2
105,0,237,-314.0,0,96,0.0,100.1,5,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
3418,0,264,21.0,0,216,0.0,84.1,5,0,0,1
4729,0,166,-250.0,0,171,0.0,55.2,4,0,0,2
1390,0,142,-107.0,0,252,0.0,58.0,6,0,0,2
4471,0,315,-223.0,0,244,0.0,110.3,5,0,0,2
1680,0,164,-5.0,0,160,0.0,53.4,6,0,1,1

In [10]:
y_test.value_counts()

won
1    538
0    499
Name: count, dtype: int64

#### P-values for logistic regression
1. Alternative Hypothesis (H1): The features that are important for predicting won (won and lost).
2. Null Hypothesis (H0): The features that have no relationship to churn. <br>
- The p-values < 0.05 gives evidence to reject the null hypothesis (there is no relationship between input & output).

In [11]:
X_train = sm.add_constant(X_train)
log_reg_model = sm.Logit(y_train, X_train)
log_reg_model = log_reg_model.fit()
print(log_reg_model.summary())

Optimization terminated successfully.
         Current function value: 0.273266
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:                    won   No. Observations:                 2417
Model:                          Logit   Df Residuals:                     2405
Method:                           MLE   Df Model:                           11
Date:                Wed, 27 Sep 2023   Pseudo R-squ.:                  0.6057
Time:                        12:54:30   Log-Likelihood:                -660.48
converged:                       True   LL-Null:                       -1675.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.1449      0.426      0.340      0.734      -0.689       0.979
team1_inn1                 -0.0045      0.002     -2.993      0.003      -0.007      -0.002
team2_inn1                  0.0002      0.002      0.143      0.886      -0.003       0.003
first_inn_lead_of_team1     0.0181      0.001     19.952      0.000       0.016       0.020
team1_inn2                  0.0146      0.001     12.760      0.000       0.012       0.017
team2_inn2                  0.0045      0.001      3.954      0.000       0.002       0.007
team1_inn1_over             0.0089      0.005      1.881      0.060      -0.000       0.018
team2_inn1_over             0.0167      0.005      3.546      0.000       0.007       0.026
total_day                  -0.3894      0.080     -4.843      0.000      -0.547      -0.232
bat_first                  -0.2940      0.229     -1.284      0.199      -0.743       0.155
field_first                 0.4950      0.225      2.197      0.028       0.053       0.936
team_no                    -0.6913      0.142     -4.884      0.000      -0.969      -0.414
===========================================================================================

## Multinomial Logistic regression

In [12]:
df_mnl = df_all
## drop nan
df_mnl = df_mnl.dropna()
X_mnl = df_mnl.loc[:, df_bi.columns != 'won']
Y_mnl = df_mnl['won']
X_mnl_train, X_mnl_test, y_mnl_train, y_mnl_test = train_test_split(X_mnl, Y_mnl, test_size = 0.3, random_state = 1)

In [13]:
df_mnl.isnull().sum()

team1_inn1                 0
team2_inn1                 0
first_inn_lead_of_team1    0
team1_inn2                 0
team2_inn2                 0
team1_inn1_over            0
team2_inn1_over            0
total_day                  0
bat_first                  0
field_first                0
team_no                    0
won                        0
dtype: int64

In [14]:
X_mnl_train = sm.add_constant(X_mnl_train)
mnl_log_reg_model = sm.MNLogit(y_mnl_train, X_mnl_train)
mnl_log_reg_model = mnl_log_reg_model.fit()
print(mnl_log_reg_model.summary())

Optimization terminated successfully.
         Current function value: 0.688422
         Iterations 7
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                    won   No. Observations:                 3507
Model:                        MNLogit   Df Residuals:                     3483
Method:                           MLE   Df Model:                           22
Date:                Wed, 27 Sep 2023   Pseudo R-squ.:                  0.3727
Time:                        12:54:30   Log-Likelihood:                -2414.3
converged:                       True   LL-Null:                       -3848.6
Covariance Type:            nonrobust   LLR p-value:                     0.000
===========================================================================================
                  won=1       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.0794      0.374      0.212      0.832      -0.654       0.812
team1_inn1                 -0.0042      0.001     -3.528      0.000      -0.007      -0.002
team2_inn1                  0.0026      0.001      1.851      0.064      -0.000       0.005
first_inn_lead_of_team1     0.0168      0.001     25.821      0.000       0.016       0.018
team1_inn2                  0.0107      0.001     14.470      0.000       0.009       0.012
team2_inn2                  0.0018      0.001      2.167      0.030       0.000       0.003
team1_inn1_over             0.0067      0.004      1.756      0.079      -0.001       0.014
team2_inn1_over             0.0085      0.004      2.171      0.030       0.001       0.016
total_day                  -0.2094      0.066     -3.174      0.002      -0.339      -0.080
bat_first                  -0.1282      0.184     -0.698      0.485      -0.488       0.232
field_first                 0.2163      0.193      1.123      0.261      -0.161       0.594
team_no                    -0.6460      0.117     -5.517      0.000      -0.875      -0.416
-------------------------------------------------------------------------------------------
                  won=2       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                      -4.3280      0.364    -11.890      0.000      -5.041      -3.615
team1_inn1                  0.0011      0.001      1.032      0.302      -0.001       0.003
team2_inn1                  0.0053      0.001      4.313      0.000       0.003       0.008
first_inn_lead_of_team1     0.0047      0.000     10.907      0.000       0.004       0.006
team1_inn2                  0.0034      0.001      5.544      0.000       0.002       0.005
team2_inn2                 -0.0057      0.001     -7.968      0.000      -0.007      -0.004
team1_inn1_over             0.0170      0.003      5.067      0.000       0.010       0.024
team2_inn1_over             0.0147      0.003      4.300      0.000       0.008       0.021
total_day                   0.5528      0.059      9.317      0.000       0.436       0.669
bat_first                  -0.5351      0.161     -3.332      0.001      -0.850      -0.220
field_first                 0.4897      0.172      2.854      0.004       0.153       0.826
team_no                    -0.4012      0.103     -3.881      0.000      -0.604      -0.199
===========================================================================================

### Analysis

- used seaborn to analyse the target 
- see how many categories that needed to be predicted on with Distribution

In [ ]:
# sns.distplot(df_all.won)

- creating a heatmap of the label and features 
- see the features that do not have a high correlation to each other

In [ ]:
# plt.figure(figsize=(12,8))
# cmap = df_all.corr()
# sns.heatmap(cmap)

##### Then try and see >> normalise, standardise >> use cross validation to see which way is better

In [ ]:
# clf = LogisticRegression(solver='newton-cg', multi_class='multinomial')
# scores = cross_val_score(clf, trainX, trainY, cv=5)
# scores

##### confusion matrix, to see the accuracy

In [ ]:
# confusion_matrix = confusion_matrix(testY, y_pred)
# print(confusion_matrix)
# plt.matshow(confusion_matrix, cmap=plt.cm.gray)
# plt.show()

##### calculate the probabilities

In [ ]:
# probability = log_reg.predict_proba(testX)
# probability

## make it readable
# df = pd.DataFrame(log_reg.predict_proba(testX), columns=log_reg.classes_)
# df.head()