In [3]:
import requests
# from bs4 import BeautifulSoup
import pandas as pd
from lxml import etree, html
import numpy as np
import var_path
from selenium import webdriver
from itertools import islice
import string
import re

##### general functions

# 1. get var from list of xpath
def get_var_xpath_from_list(url, item_list):
    page = requests.get(url)
    tree = html.fromstring(page.content)
    # var = tree.xpath(var_xpath)
    variables = []
    for item in item_list:
        var = tree.xpath(item)
        variables.append(var)

    return variables

def get_var_xpath(url, xpath):
    page = requests.get(url)
    tree = html.fromstring(page.content)
    var = tree.xpath(xpath)

    return var

def take(n, iterable):
    """ return n index of dictionary"""
    """Return the first n items of the iterable as a list."""
    return list(islice(iterable, n))

def merge(list1, list2):
 
    merged_list = [(list1[i], list2[i]) for i in range(0, len(list1))]
     
    return merged_list

In [19]:
def extract_run(runsandout):
    for i in runsandout:
        if i.isnumeric() == False:
            runsandout.remove(i)
    runs = []
    for item in runsandout:
        item = int(item)
        if item > 10:
            runs.append((item))

    return runs

def extract_over(input):
    old_overs = [item for item in input if item not in ('(', ')')]
    # print(old_overs)
    overs_list = []
    for item in old_overs:
        word = item.split(' ')
        overs_list.append(word)

    overs = []
    for item in overs_list:
        overs.append(item[0])

    return overs

In [4]:
def get_url_series_year():
    """
    year_link = link of each series(year) 
    i.e. series 1877-2023

    select period of year in this def

    want to have 100 year 

    choose >> year_link[0:100] 

    all year = 133 years
    """

    url_list_year = 'https://www.espncricinfo.com/records/list-of-match-results-by-year-307847'
    url_espn = 'https://www.espncricinfo.com/'
    x_path_list_year = '//a[contains(@href,"/records/year/team-match-results")]/span/text()'
    xpath_get_attr = '//div[@class="ds-mb-6"]/a/@href'

    page = requests.get(url_list_year)
    tree = html.fromstring(page.content)
    var = tree.xpath(x_path_list_year)
    # print(var)

    years = get_var_xpath(url_list_year, x_path_list_year)
    # print(len(years))
    link = get_var_xpath(url_list_year, xpath_get_attr)
    # print(year_link)
    year_link = []
    for item in link:
        url = url_espn + item
        year_link.append(url)

    return year_link

year_link = get_url_series_year()

In [39]:
# //span/a[contains(@href, "/series/")]

url_year = ['https://www.espncricinfo.com/records/year/team-match-results/1877-1877/test-matches-1']
df_result = pd.DataFrame()
for url in url_year:
    var = get_var_xpath_from_list(url, var_path.team1_2_xp)
    # print(var)
    ############################################################################
    ## 1. get info from each year
    info_list_ea_year = []
    for i, item in enumerate(var[1]):
        if item.startswith('Test #'):
            sublist = var[0][i * 5:(i + 1) * 5]
            sublist.append(item)
            info_list_ea_year.append(sublist)
    
    for item in info_list_ea_year:
            # print(item)
        countries = [item[0], item[1]]
        country_won = item[2]
        scorecard_no = item[-1]
        won = []    # won=1, lose=0, drawn=2
        if country_won == countries[0]:
            won = [1,0]
        elif country_won == 'drawn':
            won = [2,2]
        else:
            won = [0,1]

        dict_from_year = {'countries': countries,
                            'team_no': [1,2],
                            'scorecard_no': scorecard_no,
                            'country_won': country_won,
                            'won': won,
                        }
        
        df_dict = pd.DataFrame(dict_from_year)

        df_result = pd.concat([df_result, df_dict], ignore_index=True)
    
    ############################################################################
    print('here 1')
    ############################################################################
    ## 2. get url scorecard/summary and info from it
    url_espn = 'https://www.espncricinfo.com/'
    scorecard_xp = '//span/a[contains(@href, "/series/")]/@href'
    url_scorecard = []
    url_summary = []
    for year_url in url_year:
        # print(year_url)
        score_card_url = get_var_xpath(year_url, scorecard_xp)

        for item in score_card_url:
            url_score = url_espn + item
            url_scorecard.append(url_score)
            # print(url_score)

    ###########################################

    ###########################################
    ####2.2 scorecard info
    print('here 2')
    for url in url_scorecard:
        result_sum = get_var_xpath_from_list(url, var_path.scorecard_xp)
        # print(result_sum)

        test_no = result_sum[3][2]
        scorecard_no = test_no.replace('no.', '#')
        # print(scorecard_no)
        day_result = result_sum[0]

        # innings play on what day. like 1st inning play day 1, day 2, day 3
        day_ea = []
        day_country = []
        for day in day_result:
            day1 = re.split('-|innings', day)
            day2 = day1[0:2]
            if 'rest' in day2[0]:
                pass
            else:
                day_ea.append(day2[0])
                day_country.append(day2[1].strip())

            # print(innings)
        innings = []
        for item in day_country:
            # print(item)
            split = item.split()
            # print(split)
            if split[-1] == '1st' or split[-1] == '2nd':
                inns =  split[-1] + ' INNINGS'
            else:
                inns = 'no play'
            innings.append(inns)

        country_inn_testno = [item+' '+test_no for item in day_country]

        total_day = len(day_result)
        rest = [] # 1 = the day that they rest before thier inning
        for i in range(len(day_result)):
            if 'rest' in day_result[i]:
                rest_day = i+1
                rest.append(1)
            else:
                rest.append(0)
        if 1 in rest:
            rest.pop()

        toss_result = result_sum[2]
        country_bat_first = 0
        for toss in toss_result:
            if 'bat' in toss:
                bat_first = re.split(',', toss)
                country_bat_first = bat_first[0]
        
        dict_match_detail = {'rest_day': rest,
                             'total_day': total_day,
                             'bat_first': country_bat_first,
                             'country_inn_testno': country_inn_testno,
                             'day_of_play': day_ea,
                             'innings': innings,
                             'scorecard_no': scorecard_no
                            }
#         print(dict_match_detail)
        try:
            df_dict = pd.DataFrame(dict_match_detail)

            df_result = pd.concat([df_result, df_dict], ignore_index=True)
        except ValueError:
            pass

        # scorecard_list = [rest, day_ea, day_country, innings, total_day, scorecard_no]
        # print(scorecard_list)

        #############################################################
        ## dictionary for dataframe
        # dict_match_detail = {'countries': countries,
        #                     'team_no': [1,2],
        #                     'scorecard_no': scorecard_no,
        #                     'country_won': country_won,
        #                     'won': won,
        #                     'ground': ground[0],
        #                     'runs': runs,
        #                     'overs': overs,
        #                     'innings': innings
        #                     }
        
        # print(dict_match_detail)

    # for item in score_card_url:
    #         new_item = item.replace('full-scorecard', 'live-cricket-score')
    #         url_sum = url_espn + new_item
    #         url_summary.append(url_sum)
    
    # print(url_scorecard)
    # print(url_summary)

df_result

here 1
here 2

,countries,team_no,scorecard_no,country_won,won,rest_day,total_day,bat_first,country_inn_testno,day_of_play,innings
0,Australia,1.0,Test # 1,Australia,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,England,2.0,Test # 1,Australia,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Australia,1.0,Test # 2,England,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,England,2.0,Test # 2,England,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Test # 1,NaN,NaN,0.0,5.0,Australia,Australia 1st Test no. 1,day 1,1st INNINGS
5,NaN,NaN,Test # 1,NaN,NaN,0.0,5.0,Australia,England 1st Test no. 1,day 2,1st INNINGS
6,NaN,NaN,Test # 1,NaN,NaN,0.0,5.0,Australia,Australia 2nd Test no. 1,day 3,2nd INNINGS
7,NaN,NaN,Test # 1,NaN,NaN,1.0,5.0,Australia,England 2nd Test no. 1,day 4,2nd INNINGS
8,NaN,NaN,Test # 2,NaN,NaN,0.0,5.0,Australia,England 1st Test no. 2,day 1,1st INNINGS
9,NaN,NaN,Test # 2,NaN,NaN,1.0,5.0,Australia,England 1st Test no. 2,day 2,1st INNINGS
10,NaN,NaN,Test # 2,NaN,NaN,0.0,5.0,Australia,Australia 2nd Test no. 2,day 3,2nd INNINGS
11,NaN,NaN,Test # 2,NaN,NaN,0.0,5.0,Australia,England 2nd Test no. 2,day 4,2nd INNINGS

### Get info from year url

In [5]:
url_year = ['https://www.espncricinfo.com/records/year/team-match-results/1877-1877/test-matches-1']

def get_sum_from_year_series(url_list):
    df_result = pd.DataFrame()

    # get infor from year
    for url in url_list:
        var = get_var_xpath_from_list(url, var_path.team1_2_xp)
        # print(var)
        info_list_ea_year = []
        for i, item in enumerate(var[1]):
            if item.startswith('Test #'):
                sublist = var[0][i * 5:(i + 1) * 5]
                sublist.append(item)
                info_list_ea_year.append(sublist)

        # print(info_list_ea_year)
        for item in info_list_ea_year:
            # print(item)
            countries = [item[0], item[1]]
            country_won = item[2]
            scorecard_no = item[-1]
            won = []    # won=1, lose=0, drawn=2
            if country_won == countries[0]:
                won = [1,0]
            elif country_won == 'drawn':
                won = [2,2]
            else:
                won = [0,1]

            dict_match_detail = {'countries': countries,
                                'team_no': [1,2],
                                'scorecard_no': scorecard_no,
                                'country_won': country_won,
                                'won': won
                                }

            df_dict = pd.DataFrame(dict_match_detail)

            df_result = pd.concat([df_result, df_dict], ignore_index=True)

    return df_result

df_from_year = get_sum_from_year_series(url_year)
df_from_year

   countries  team_no scorecard_no country_won  won
0  Australia        1     Test # 1   Australia    1
1    England        2     Test # 1   Australia    0
2  Australia        1     Test # 2     England    0
3    England        2     Test # 2     England    1

In [ ]:
    ## 2.1 summary info
    print('here 2')
    for url in url_summary:
        print('here 3')
        result_sum = get_var_xpath(url, var_path.summary_xp)

        grounds = result_sum[0]
        ground = grounds[0].split(' ')

        #runs 
        runs_out = result_sum[3]
        runs_all = extract_run(runs_out)

        over_input = result_sum[4]
        overs = extract_over(over_input)

        if len(runs_all) > 1:
            runs = [runs_all[0], runs_all[1]]
            team1_inn1_over = overs[0]
            team2_inn1_over = overs[1]
            overs = [overs[0], overs[1]]
            innings = [result_sum[5][0], result_sum[5][1]]
            countries = [result_sum[2][0], result_sum[2][1]]
        
        else:
            runs = [runs_all[0], 0]
            team1_inn1_over = overs[0]
            team2_inn1_over = 0
            overs = [overs[0], 0]
            innings = result_sum[5][0]
            countries = [result_sum[2][0], None]

        scorecard_no = result_sum[1][1].replace('no.', '#')
        
        # country and innings
        inns = [inn.replace('INNINGS', '') for inn in result_sum[5]]
        count_inn = []
        for c, i in zip(result_sum[2], inns):
            combined = c + ' ' + i
            count_inn.append(combined.strip())
        country_inn_testno = [item+' '+result_sum[1][1] for item in count_inn]
        
        # run for each team in inning 1
        team1_runs_inn1 = [runs[0], 0]
        team2_runs_inn1 = [0, runs[1]]
        
        if len(countries) > 3:
            team1_runs_inn2 = [runs[2], 0]
            team2_runs_inn2 = [0, runs[3]]
        
        # first inn lead another team
        first_inn_lead_team1 = [runs[0] - runs[1], -(runs[0] - runs[1])]

        dict_summary = {'ground': ground[0],
                         'season': result_sum[1][0],
                         'scorecard_no': scorecard_no,
                         'countries': countries,
                        #  'team_no': [1,2],
                         'runs': runs,
                         'overs': overs,
                         'innings': innings,
                        #  'country_inn_testno': country_inn_testno,
                         'team1_inn1': team1_runs_inn1,
                         'team2_inn1': team2_runs_inn1,
                         'first_inn_lead_of_team1': first_inn_lead_team1,
                         'team1_inn1_over': [team1_inn1_over,0],
                         'team2_inn1_over': [0, team2_inn1_over]
#                          'team1_inn2': team1_runs_inn2,
#                          'team2_inn2': team2_runs_inn2
                         }


        df_summary = pd.DataFrame(dict_summary)
        

        df_result = pd.concat([df_result, df_summary], ignore_index=True)